.navs{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100000;
}


.icon-wts {
    position: fixed;
    z-index: 1000;
    right: 40px;
    bottom: 40px;
}






@media (max-width: 768px){
  .nav-info{
    display: none;
  }

    .icon-wts {
        right: 20px;
        bottom: 20px;
    }
}