<section class="mapa">
<div id="mapId"></div>
    
    <div class="modal">
        <div class="box">
            <h3>Cómo encontrarnos</h3>
            <div class="telefono item">
                <img src="https://i.imgur.com/Jtqy329.png" alt="">
                <p><a href="tel:+34673114957"> (+34) 673114957</a></p>
            </div>
            
            <div class="whatsapp item">
                <img src="https://i.imgur.com/vZnnSvF.png" alt="">
                <p><a href="https://wa.me/34673114957" target="_blank"> (+34) 673114957</a></p>
            </div>
            
            <div class="email item">
                <img src="https://i.imgur.com/k0iWSXC.png" alt="">
                <p><a href="mailto:vittalyslab@gamil.com"> vittalyslab&#64;gmail.com</a></p>
            </div>
            <div class="location item">
                <img src="https://i.imgur.com/v4JSWF2.png" alt="">
                <p><a target="_blank" href="https://www.google.com/maps/place/C.+de+Mercurio,+51,+Vic%C3%A1lvaro,+28032+Madrid/@40.4051585,-3.6041461,21z/data=!4m15!1m8!3m7!1s0xd422568629db12b:0x39020e05c4a996e0!2sC.+de+Mercurio,+51,+Vic%C3%A1lvaro,+28032+Madrid!3b1!8m2!3d40.4050743!4d-3.6040254!16s%2Fg%2F11b8v87bmc!3m5!1s0xd422568629db12b:0x39020e05c4a996e0!8m2!3d40.4050743!4d-3.6040254!16s%2Fg%2F11b8v87bmc?entry=ttu&g_ep=EgoyMDI1MTEwMi4wIKXMDSoASAFQAw%3D%3D"> Calle Mercurio 50, 28032, Madrid, Madrid</a> </p>
            </div>    
        </div>
        <div class="box">
            <h3>Horario de apertura</h3>
            <p>Trabajamos las 24 Horas</p>
        </div>
        
    </div>
    
    
</section>